<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="_csrf_header_name" th:content="${_csrf.headerName}"/>
    <meta name="_csrf_token" th:content="${_csrf.token}"/>
    <title>GroupManager</title>

    <!-- Main css -->
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>

        <h2>GroupManager</h2>
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <div class="form">
                    <h1>Create Account</h1>
                    <input type="text" name="username" class="username" placeholder="Name" />
<!--                    <input type="email" name="email" placeholder="Email" />-->
                    <input type="password" name="password" class="password" placeholder="Password" />
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}" />
                    <button onclick="reg()">Sign Up</button>
                </div>
            </div>
            <div class="form-container sign-in-container">
                <form action="/login" method="post" class="form">
                    <h1>Sign in</h1>
                    <input  type="text" name="username" placeholder="Name" />
                    <input type="password" name="password" placeholder="Password" />
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}" />
                    <a href="#">Forgot your password?</a>
                    <button>Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- JS -->
        <script type="text/javascript" th:src="@{js/main.js}"></script>
        <script type="text/javascript" th:src="@{js/reg.js}"></script>
</body>
</html>